<div class="panel1">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Is current:</strong>
  <%= @season.is_current %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
</div>
