<div class="panel1">
	<h1><%= @team.name %> - <%= @team.season.name %> Schedule</h1>

	<div style="text-align:right">
		<span class="record_panel"><%= @wins%> Wins</span>&nbsp;&nbsp;
		<span class="record_panel"><%= @losses%> Losses</span>&nbsp;&nbsp;
		<span class="record_panel"><%= @ties%> Ties</span>&nbsp;&nbsp;
	</div>
	<br/>
	<table class="table schedule">
		<thead>
			<th>Opponent</th>
			<th>Kickoff/Location</th>
			<th>Result</th>
			<th>Snacks</th>
		</thead>
		<tbody>
		    <% @games.each do |game| %>
		      <tr>
		      	<% if game.is_home_game %>
			        <td><%= link_to game.opponent, game.team_url, :class => 'home' %></td>
		      	<% else %>
		        	<td><%= link_to game.opponent, game.team_url, :class => 'away'  %></td>
		      	<% end %>
		        <td><%= game.kickoff.strftime("%a %b %d %Y at %I:%M%p") %><br/><%= game.location %> <%= link_to '(map)', game.map_url %></td>
		        <td align="center"><%= game.our_score %> - <%= game.opponent_score %></td>
						<td><%= game.halftime_snack %><br/><%= game.end_of_game_snack %></td>
		      </tr>
		    <% end %>
		</tbody>
	</table>
	<h3 style="text-align:right">
		<a style="text-decoration:underline" href="<%= @team.league_page %>">League Page</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a style="text-decoration:underline" href="/previous_roster/<%=@current_season.id%>">Roster</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a style="text-decoration:underline" href="/schedule">Other Schedules</a>
	</h3>
</div>
