<!DOCTYPE html>
<html>
<head>
  <title><%= @website_name %></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <style>body{background: url(/assets/<%= @background %>.jpg) no-repeat;}</style>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbar" %>
<br/><br/><br/><br/>
<div class="container"><%= yield %></div>
<br/><br/>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
